In [1]:
a = "This is a string"
type(a)

str

In [2]:
type(None)

NoneType

In [3]:
a = 12
b = 1.2
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>

In [4]:
#Tuples are an immutable data structure (cannot be altered).
x = (1,'a',2,'b')
type(x)

tuple

In [5]:
#Lists are a mutable data structure.
x = [1,'a',2,'b']
type(x)

list

In [6]:
#Use append to append an object to a list.
x.append(1.2)
x

[1, 'a', 2, 'b', 1.2]

In [7]:
#example of how loop iterate 
for data in x:
    print(data)

1
a
2
b
1.2

In [8]:
#Or using the indexing operator:
i = 0  #initialize index to 0
while (i != len(x)):  #continue loop until it equals to length of list
    print(x[i])
    i = i+1

1
a
2
b
1.2

In [9]:
# use of concatenate lists
[1,2] +[3,4]

[1, 2, 3, 4]

In [10]:
# use * sigh to repeat list
[1]*4

[1, 1, 1, 1]

In [12]:
#Use the in operator to check if something is inside a list.
1 in [1,2,3,4]

True

In [15]:
#string slicing
a = "I am learning python"
print(a[0]) 
print(a[0:2])
print(a[:3])
print(a[3:])
print(a[-1])

I
I
I a
m learning python
n

In [17]:
firstname = "Sunita"
lastname = "Basi"
print(firstname +''+ lastname)
print(firstname * 3)
print("Sunita" in firstname)

SunitaBasi
SunitaSunitaSunita
True

In [22]:
#`split` returns a list of all the words in a string, or a list split on a specific character.
x = "I am learning Python".split(' ')[3]
y = "Its easy to learn".split (' ')[-1]
print(x)
print(y)

Python
learn

In [1]:
#Python has a built in method for convenient string formatting.
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items'] * sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96